@use 'theme';

@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

@mixin filter($filters) {
    -webkit-filter: $filters;
    filter: $filters;
}

@mixin gradient($number) {
    $colors: nth(theme.$gradients, $number);
    background: linear-gradient(90deg, $colors);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
