@use 'theme';

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow: inset $top $left $blur $color;
    } @else {
        box-shadow: $top $left $blur $color;
    }
}

@mixin transform($transforms) {
    transform: $transforms;
}

@mixin gradient($number) {
    $colors: nth(theme.$gradients, $number);
    background: linear-gradient(90deg, $colors);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
