$background: #373f51;
$accent: #ddf0ff;
$accent_alt: #5c80bc;
$light: #f05365;
$light_alt: #ffee93;
$text: white;

$gradient_1: #fc6b6b 0%, #3f5efb 100%;
$gradient_2: #fc6b6b 0%, #e8ef00 100%;
$gradient_3: #f148fb 0%, #7122fa 100%;

$gradients: $gradient_1, $gradient_2, $gradient_3;
