{% set bodyClass = "fourofour" %}
{% extends "layouts/base.njk" %}
{% block mainContent %} 
<section class="wrapper">
    <div class="hero">
        <img src="/images/panda_404.png" title="Panda" alt="" />
        <h2>404</h2>
    </div>
    <p class="suggestion">Have you tried <a href="/" class="animated" aria-label="Home">turning it off and on again?</a></p>
</section>
{% endblock %}