{% include "layouts/partials/head.njk" %}
  <body id="top" class="{{ bodyClass }}">
    {% include "layouts/partials/nav.njk" %}
    {% block mainContent %}
    {% endblock %}
    {% include "layouts/partials/footer.njk" %}
    {% set fadeinjs %}
    {% include "src/scripts/fadein.js" %}
    {% endset %}
    {% if page.url === '/' %}
    <script>
      {{ fadeinjs | jsmin | safe }}
    </script>
    {% endif %}
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>
  </body>
</html>

