{% include "layouts/partials/head.njk" %}
  <body id="top" class="{{ bodyClass }}">
    {% include "layouts/partials/nav.njk" %}
    {% block mainContent %}
    {% endblock %}
    {% include "layouts/partials/footer.njk" %}
    {% if page.url === '/' %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
        easing: 'ease-in-out',
        disable: window.matchMedia('(prefers-reduced-motion: reduce)').matches
      })
    </script>
    {% endif %}
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>
  </body>
</html>

