{% set bodyClass = "blog" %}
{% extends "layouts/base.njk" %}
{% block mainContent %} 
<div class="wrapper">
    <div class="articles">
        {% for post in collections.posts | reverse %}
            {% include "layouts/partials/blog-article.njk" %}
        {% endfor %}
    </div>
</div>
{% endblock %}