{% set bodyClass = "blog" %}
{% extends "layouts/base.njk" %}
{% block mainContent %} 
<main class="wrapper">
    <ul class="articles">
        {% for post in collections.posts | reverse %}
            {% include "layouts/partials/blog-article.njk" %}
        {% endfor %}
    </ul>
</main>
{% endblock %}