{% set bodyClass = "home" %}
{% extends "layouts/base.njk" %}
{% block mainContent %}
  <section class="wrapper intro" aria-label="intro">
    <h1>
      <span class="hi" data-aos="fade-right" data-aos-delay="100">
        <span class="emoji">👋🏻</span>
        Ciao!</span><br/> <br/>
      <span data-aos="fade-left" data-aos-delay="500">I'm a web developer from Italy, madly in love with Javascript and
        everything web related!<br/><br/>
        This is where I usually rant about web development things I face every day and wathever catches my attention at the
        moment...🚀<br/> <br/>
        <span class="gradient gradient_1">#takeAlookAtTheBlog</span>
        <span class="gradient gradient_2">#enjoyYourStay</span>
      </h1>
    </section>
    <main class="wrapper blog_feed">
      <ul class="articles" {% if page.url === '/' %} data-aos="zoom-out-down" data-aos-duration="600" {% endif %}>
        {% for post in collections.posts.reverse().slice(0, 6) %}
          {% include "layouts/partials/blog-article.njk" %}
        {% endfor %}
      </ul>
      <a href="/blog" class="button" aria-label="Blog">
        <span>Read it all
          <i class="icon-arrow_forward" aria-hidden="true"></i>
        </span>
      </a>
    </main>
    <section class="wrapper twitter_feed" aria-label="Twitter feed">
      <h2 class="fade">Sometimes I tweet...</h2>
      {% include "layouts/partials/tweets.njk" %}
    </section>
  {% endblock %}