{% set bodyClass = "post" %}
{% extends "layouts/base.njk" %}
{% block mainContent %}  
<div class="wrapper blog post">
    <article>
        <section class="post">
            <div class="post__title">
                <h2>{{ title }}</h2>
                <div class="post__reading_time">
                    <p>{{ content | timeToRead }} ⏱️</p>
                </div>
            </div>
            {{ content | code | safe }}
            <div class="post__tags">
                {% for tag in tags %}
                <p class="gradient"><a href="/tags/{{tag}}" aria-label="Category {{ tag }}">#{{ tag }}</span></p>
                {% endfor %}
            </div>
        </section>
    </article>
</div>
{% endblock %}