{% set bodyClass = "post" %}
{% extends "layouts/base.njk" %}
{% block mainContent %}  
<main class="wrapper blog blog__post">
    <article class="post">
        <h1 class="post__title">{{ title }}</h1>
        <div class="post__reading_time">
            <p>{{ content | timeToRead }} ⏳</p>
        </div>
        <div class="post__content">
            {{ content | safe }}
        </div>
        <div class="post__tags">
            {% for tag in tags %}
            <a class="pill hover" href="/tags/{{tag}}" aria-label="Category {{ tag }}"><span class="gradient gradient_{{ range(1, 3) | random  }}">#{{ tag }}</span></a>
            {% endfor %}
        </div>
    </article>
</main>
{% endblock %}