{% set bodyClass = "post resume" %}
{% extends "layouts/base.njk" %}
{% block mainContent %}
    <main class="wrapper blog blog__post">
        <article class="post">
            <h1 class="post__title">{{ title }}</h1>
            <div class="post__date">
                <p></p>
            </div>
            <div class="post__content">
                {{ content | safe }}
                {% include "layouts/partials/experience.njk" %}
                {% include "layouts/partials/skills.njk" %}
                <h2 id="education" tabindex="-1">Education
                    <a class="header-anchor" href="#education" aria-label="Link to this section">
                        <i class="icon-link" aria-hidden="true"></i>
                    </a>
                </h2>
                <p>
                    <b>High School Diploma</b>, Liceo Classico Giuseppe Manno, Alghero (SS), 2003 – 2008, GPA: 96/100</p>
            </div>
        </article>
    </main>
    {% include "layouts/partials/reading-progress-indicator.njk" %}
    {% set readingProgressIndicator %}
    {% include "src/scripts/readingProgressIndicator.js" %}
    {% endset %}
    <script>
        {{ readingProgressIndicator | jsmin | safe }}</script>
{% endblock %}</li></li></li>