<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
    <title>{{ title }} - {{ description }}</title>
    <link>{{ global.siteUrl }}</link>
    <atom:link href="{{ global.siteUrl }}/rss.xml" rel="self" type="application/rss+xml" />
    <description>{{ description }}</description>
    {% for post in collections.posts %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ global.siteUrl }}{{ post.url | url }}#{{loop.index0}}</link>
            <guid>{{ global.siteUrl }}{{ post.url | url }}#{{loop.index0}}</guid>
            <description>{{ post.data.description }}</description>
        </item>
    {% endfor %}
    </channel>
</rss>