{% set bodyClass = "blog tags" %}
{% extends "layouts/base.njk" %}
{% block mainContent %} 
<section class="wrapper">
    <h2>#{{ tag }}</h2>
    <ul class="articles">
        {% for post in collections[ tag ] | reverse %}
            {% include "layouts/partials/blog-article.njk" %}
        {% endfor %}
    </ul>
</section>
{% endblock %}