<nav class="header">
    <h1 class="logo">anto<span class="logo__thin">Dev</span></h1>
    <ul class="menu">
    <div class="menu__item toggle"><span></span></div>
    <li class="menu__item"><a href="/" class="link link--dark" aria-label="Home"><i class="fa fa-home"></i> Home</a></li>
    <li class="menu__item"><a href="/blog" class="link link--dark" aria-label="Blog"><i class="fa fa-book"></i> Blog</a></li>
    <li class="menu__item"><a href="/uses" class="link link--dark" aria-label="What I use"><i class="fa fa-desktop"></i> /uses</a></li>
    </ul>
</nav>