<li {% if page.url === '/' %}data-aos="fade-down" data-aos-duration="600"{% endif %}>
    <article class="post">
        <a href="{{ post.url | url }}" aria-label="Read more about {{ post.data.title }}" class="post__link"></a>
        <h2 class="post__title">{{ post.data.title }}</h2>
        {# <p class="post__date">{{ post.data.date | readableDate }}</p> #}
        <p class="post__content">{{ post.data.description }}</p>
        <div class="post__footer">
            {% if post.data.tags %}
            <div class="post__tags">
                {% if not ('/tags' in page.url) %}
                    {% for tag in post.data.tags.slice(0, 2) %}
                    <a class="pill hover" href="/tags/{{tag}}" aria-label="Category {{ tag }}"><span class="gradient gradient_{{ range(1, 3) | random  }}">#{{ tag }}</span></a>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
            <a href="{{ post.url | url }}" aria-label="Read more about {{ post.data.title }}" class="read_more"><i class="icon-arrow_forward" aria-hidden="true"></i></a>
        </div>
    </article>
</li>