<h2 id="education" tabindex="-1">Education
    <a class="header-anchor" href="#education" aria-label="Link to this section">
        <i class="icon-link" aria-hidden="true"></i>
    </a>
</h2>
<p>
    <b>{{resume.education.type}}</b>, {{resume.education.school}}, {{resume.education.location}}, {{resume.education.startDate}} –
    {{resume.education.endDate}}, GPA: {{resume.education.gpa}}</p>