<footer class="footer">Made with ❤️. Powered by <a href="https://www.11ty.dev/" class="link link--light" aria-label="Eleventy" target="_blank">11ty</a>. Based on <a href="https://tympanus.net/codrops/2018/01/12/freebie-scribbler-website-template-html-sketch/" class="link link--light" aria-label="Scribble template on Codrops" target="_blank">Scribble</a>.</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>{% include "src/js/scribbler.js" %}</script>