<footer class="footer">
    <div class="social">
        <a href="https://twitter.com/antodev89" aria-label="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/antopiras/" aria-label="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/antoBit" aria-label="Github" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <p>Made with ❤️. Powered by <a href="https://www.11ty.dev/" class="animated" aria-label="Eleventy" target="_blank">11ty</a>.</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/itim2101" target="_blank" aria-label="itim2101">itim2101</a> from <a href="https://www.flaticon.com/" target="_blank" aria-label="Flaticon">Flaticon</a></p>
</footer>