<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="{{ metaDescription }}">
      <meta name="keywords" content="{{ metaKeywords }}">
      <meta name="author" content="Antonio Piras">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{{ title }}"/>
      <meta property="og:url" content="{{ page.url }}" />
      <meta property="og:description" content="{{ metaDescription }}" />
      <meta property="og:image" content="{{ metaImage or '/images/terminal_2x.png' }}" />
      <meta property="og:type" content="article" />
      <title>{{ title }} - {{ description }}</title>
      <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
      <link rel="manifest" href="/images/favicon/site.webmanifest">
      <link rel="shortcut icon" href="/images/favicon/favicon.ico">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">
      <link rel="stylesheet" href="/css/style.css">
      <script async src="https://kit.fontawesome.com/7dd6f192fc.js" crossorigin="anonymous"></script>
      <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>