<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ title }} - {{ description }}</title>
      <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></noscript>
      <link rel="stylesheet" href="/css/scribbler-global.css">
      {% if category === "blog" or category === "post" %}
      <link rel="stylesheet" href="/css/scribbler-doc.css">
      {% else %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
      <link rel="stylesheet" href="/css/scribbler-landing.css">
      {% endif %}
      {% if category === "post" %}
      <link rel="stylesheet" href="/css/post.css">
      {% endif %}
      <link rel="author" href="humans.txt">
  </head>