<nav class="w-full mx-auto max-w-screen-2xl h-14 flex items-center justify-between pt-6 px-8 font-black">
    <div class="flex items-center justify-between">
        <img class="w-8 h-8 mr-4" src="/images/panda.png" title="{{ global.siteName }}" alt="Panda" width="32" height="32"/>
        <a class="font-bold" href="/" aria-label="Home">anto<span class="font-light">Dev</span>
        </a>
    </div>
    <ul class="flex items-center justify-between text-sm">
        {% for link in navigation %}
            <li class="p-4">
                <a class="{{ 'text-accent bg-[length:100%_2px] bg-no-repeat bg-gradient-to-r from-accent to-accent' if link.url in page.url }}" href="{{ link.url }}" aria-label={{ link.label }}>{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>