{% if pagination.pageLinks.length > 1 %}
<nav class="wrapper pagination">
    <ul>
    {% if pagination.previousPageLink %}
    <li class="pagination__prev"><i class="icon-arrow_back" aria-hidden="true"></i> <a class="animated" href="{{ pagination.previousPageHref | url }}">Newer</a></li>
    {% endif %}
    {% if pagination.nextPageLink %}
    <li class="pagination__next"><a class="animated" href="{{ pagination.nextPageHref | url }}">Older</a> <i class="icon-arrow_forward" aria-hidden="true"></i></li>
    {% endif %}
    </ul>
</nav>
{% endif %}