<h2 class="w-full text-lg mb-6" id="skills" tabindex="-1">Skills
    <a class="header-anchor" href="#skills" aria-label="Link to this section">
        <i class="icon-link" aria-hidden="true"></i>
    </a>
</h2>
<section class="w-full">
    <ul class="list-disc pl-6">
        {% for skill in resume.skills %}
            <li>
                <b>{{ skill.name }}</b>: {{ skill.keywords|join(', ') }}</li>
        {% endfor %}
    </ul>
</li></section>