<article class="tweets">
    {% for item in tweets %}
    <a class="tweet" href="https://twitter.com/{{ item.user.screen_name }}/status/{{ item.id_str }}" rel="noreferrer" target="_blank" aria-label="Go to tweet">
        <img src="{{ item.retweeted_status.user.profile_image_url_https if item.retweeted_status else item.user.profile_image_url_https }}" alt="" class="user__img" />
        <p class="user__name gradient gradient_{{ range(1, 3) | random  }}"><span>{{ item.retweeted_status.user.screen_name if item.retweeted_status else item.user.screen_name }}</span></p>
        <p class="user__tweet">{{ item.retweeted_status.text if item.retweeted_status else item.text }}</p>
        <p class="user__tweet_date">{{ item.created_at | redabledateFromFormat }}</p>
        {% if item.retweeted_status %}
            <i class="fas fa-retweet"></i>
        {% endif %}
    </a>
    {% endfor %}
</article>