@use 'use' as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    body {
        font-family: 'Nunito Sans', sans-serif;
        color: $text;
        background-color: $background;
        margin: 0;
        padding: 0;

        h1,
        h2,
        h3 {
            font-family: 'Fira Code', monospace;
        }

        p,
        a {
            color: inherit;
        }

        p {
            font-weight: 300;
        }

        a {
            text-decoration: none;
            outline: none !important;

            &.active,
            &:hover {
                color: $accent;
            }

            &.animated {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -0.1rem;
                    width: 0;
                    height: 2px;
                    transition: width 0.5s linear;
                    background-color: $accent;
                }

                &:hover,
                &.active {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 2rem;

            .logo {
                display: flex;
                align-items: center;
                font-weight: 900;
                color: var(--primary-color);
                font-size: 1.4em;
                grid-column: 1;

                img {
                    width: 32px;
                    height: 32px;
                    margin-right: 1rem;
                }

                .logo__thin {
                    font-weight: 300;
                }
            }

            .menu {
                display: flex;
                align-items: center;
                flex-direction: row;
                grid-column: 2;
                list-style: none;
                margin: 0;
                margin-left: auto;
                text-align: right;

                .menu__item {
                    display: inline-block;
                    padding: 1rem;
                }
            }
        }

        .wrapper {
            margin: 0 auto;
            width: 100%;

            @include desktop {
                width: 70%;
            }

            &:first-of-type {
                margin-top: 1rem;
            }
        }

        footer {
            text-align: center;
            color: $text;
            background-color: $background;
            padding: 2rem;
            margin-top: 4rem;

            .scroll_to_top {
                position: sticky;
                bottom: 1rem;
                display: flex;
                justify-content: flex-end;
                width: auto;
                max-width: 50px;
                height: auto;
                margin-left: auto;

                i {
                    font-size: 2rem;
                    color: $light;
                    opacity: 0.7;

                    &:hover {
                        animation-name: rubberBand;
                        animation-duration: 1s;
                        animation-iteration-count: 3;
                        animation-fill-mode: both;
                    }
                }
            }
        }
    }
}

.button {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 1rem 2rem;
    overflow: hidden;

    border-radius: 0.4rem;
    background: linear-gradient(
        to bottom right,
        #fc6b6b,
        #3f5efb,
        #f148fb,
        #7122fa
    );
    background-size: 400% 400%;
    color: white;
    animation: gradient_in 5s;

    &:hover {
        color: white;
        animation: gradient_out 5s;
        animation-fill-mode: forwards;
    }
}

.gradient {
    @for $i from 1 through 3 {
        &.gradient_#{$i} {
            a,
            span {
                @include gradient($i);
            }
        }
    }
}

@keyframes gradient_out {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes gradient_in {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 0% 0%;
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
