@use 'use' as *;

* {
    box-sizing: border-box;
}

::selection {
    color: #333;
    background-color: $accent;
    -webkit-text-fill-color: #333;
}

html {
    scroll-behavior: smooth;

    body {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Nunito Sans', sans-serif;
        color: $text;
        background-color: $background;
        margin: 0;
        padding: 0;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: auto;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 100px;
            background-color: $accent_alt;
            opacity: 0.1;
            clip-path: polygon(
                100% 0%,
                0% 0%,
                0% 65%,
                1% 64.95%,
                2% 64.8%,
                3% 64.6%,
                4% 64.3%,
                5% 63.9%,
                6% 63.45%,
                7% 62.9%,
                8% 62.25%,
                9% 61.55%,
                10% 60.8%,
                11% 59.95%,
                12% 59.05%,
                13% 58.1%,
                14% 57.1%,
                15% 56.05%,
                16% 55%,
                17% 53.9%,
                18% 52.8%,
                19% 51.65%,
                20% 50.5%,
                21% 49.35%,
                22% 48.2%,
                23% 47.05%,
                24% 45.9%,
                25% 44.8%,
                26% 43.75%,
                27% 42.75%,
                28% 41.75%,
                29% 40.8%,
                30% 39.9%,
                31% 39.1%,
                32% 38.35%,
                33% 37.65%,
                34% 37.05%,
                35% 36.5%,
                36% 36.05%,
                37% 35.65%,
                38% 35.35%,
                39% 35.15%,
                40% 35.05%,
                41% 35%,
                42% 35.05%,
                43% 35.2%,
                44% 35.45%,
                45% 35.75%,
                46% 36.15%,
                47% 36.65%,
                48% 37.2%,
                49% 37.85%,
                50% 38.55%,
                51% 39.35%,
                52% 40.2%,
                53% 41.1%,
                54% 42.05%,
                55% 43.05%,
                56% 44.1%,
                57% 45.15%,
                58% 46.3%,
                59% 47.4%,
                60% 48.55%,
                61% 49.7%,
                62% 50.85%,
                63% 52%,
                64% 53.15%,
                65% 54.25%,
                66% 55.35%,
                67% 56.4%,
                68% 57.45%,
                69% 58.4%,
                70% 59.35%,
                71% 60.2%,
                72% 61.05%,
                73% 61.8%,
                74% 62.45%,
                75% 63.05%,
                76% 63.6%,
                77% 64.05%,
                78% 64.4%,
                79% 64.7%,
                80% 64.85%,
                81% 65%,
                82% 65%,
                83% 64.9%,
                84% 64.75%,
                85% 64.5%,
                86% 64.2%,
                87% 63.75%,
                88% 63.25%,
                89% 62.7%,
                90% 62.05%,
                91% 61.3%,
                92% 60.5%,
                93% 59.65%,
                94% 58.75%,
                95% 57.8%,
                96% 56.8%,
                97% 55.75%,
                98% 54.65%,
                99% 53.55%,
                100% 52.4%
            );
            @include transform(scaleY(-1));
            z-index: -1;
        }

        &:after {
            opacity: 0.15;
            @include transform(scaleY(-1) scaleX(-1));
            z-index: -2;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Arvo', serif;
            line-height: 1.3;
        }

        p,
        a {
            color: inherit;
        }

        p {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5;

            @include desktop {
                font-size: 1.25rem;
            }
        }

        a {
            text-decoration: none;
            outline: none !important;

            &:hover,
            &:focus,
            &.active {
                color: $accent;
            }

            &.animated {
                background-image: linear-gradient($accent, $accent);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size 0.3s;

                &:hover,
                &:focus,
                &.active {
                    background-size: 100% 2px;
                }
            }
        }

        nav {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .logo {
                display: flex;
                align-items: center;
                font-weight: 900;
                color: var(--primary-color);
                font-size: 1.4em;
                grid-column: 1;

                img {
                    width: 32px;
                    height: 32px;
                    margin-right: 1rem;
                }

                .logo__thin {
                    font-weight: 300;
                }
            }

            .menu {
                display: flex;
                align-items: center;
                flex-direction: row;
                grid-column: 2;
                list-style: none;
                margin: 0;
                margin-left: auto;
                text-align: right;

                .menu__item {
                    display: inline-block;
                    font-size: 1.125rem;
                    font-weight: 900;
                    padding: 1rem;
                }
            }
        }

        .wrapper {
            margin: 2rem auto;
            padding: 0 1.5rem;
            width: 100%;
            max-width: $wrapper-max-width;

            @include tablet_portrait {
                padding: 0 2rem;
            }

            @include max-width-70 {
                width: $wrapper-max-70;
            }

            &.header {
                margin-top: 0;
                margin-bottom: 2rem;
            }

            &.footer {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 30ch auto;
                grid-template-areas:
                    'social scroll-to-top'
                    'made-by scroll-to-top'
                    'credits scroll-to-top'
                    'copyright copyright';
                row-gap: 0.5rem;
                align-items: center;
                color: $text;
                margin-top: auto;
                margin-bottom: 0;
                padding: 2rem;
                padding-bottom: 1.5rem;

                @include tablet {
                    grid-template-columns: auto;
                }

                .social {
                    grid-area: social;
                    i {
                        font-size: 1.5rem;
                        margin: 0;
                        margin-right: 0.5rem;
                        transition: color 0.3s ease;
                    }
                }

                p {
                    font-size: 1rem;
                    margin: 0;

                    &.made_by {
                        grid-area: made-by;
                    }

                    &.credits {
                        grid-area: credits;
                        font-size: 85%;
                    }

                    &.copyright {
                        grid-area: copyright;
                        text-align: center;
                        margin-top: 1rem;
                    }
                }

                .scroll_to_top {
                    grid-area: scroll-to-top;
                    align-self: center;
                    justify-self: center;
                    position: sticky;
                    bottom: 0;
                    display: flex;
                    justify-content: flex-end;
                    width: auto;
                    height: auto;

                    @include tablet {
                        justify-self: flex-end;
                    }

                    a {
                        width: 1.3rem;
                        height: 1.3rem;
                        outline: none;

                        i {
                            font-size: 1.3rem;
                            background-color: $light;
                            color: $background;
                            opacity: 0.7;
                            padding: 0.2rem;
                            border-radius: 50%;
                        }

                        &:hover,
                        &:focus {
                            animation-name: rubberBand;
                            animation-duration: 1s;
                            animation-iteration-count: 3;
                            animation-fill-mode: both;
                        }
                    }
                }
            }
        }
    }
}

.pill {
    font-family: 'Fira Code', monospace;
    background-color: darken($background, 5%);
    margin: 0;
    padding: 0.2rem 0.8rem;
    border-radius: 0.8rem;

    &.hover {
        transition: transform 0.3s ease;

        &:hover,
        &:focus {
            @include transform(scale(1.05));
        }
    }
}

.button {
    display: inline-flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 1rem 1.5rem;
    overflow: hidden;

    border-radius: 1.5rem;
    background-color: darken($light, 5%);
    color: white;

    &:hover,
    &:focus {
        color: white;
        background-color: darken($light, 10%);

        i {
            animation-name: rubberBand;
            animation-duration: 1s;
            animation-iteration-count: 3;
            animation-fill-mode: both;
        }
    }

    i {
        font-size: 1.25rem;
        font-weight: 700;
        margin-left: 0.5rem;
    }
}

.gradient {
    @for $i from 1 through 3 {
        &.gradient_#{$i},
        & > span {
            @include gradient($i);
        }
    }
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in;

    &.in {
        opacity: 1;
    }
}

@keyframes gradient_out {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes gradient_in {
    from {
        background-position: 100% 100%;
    }
    to {
        background-position: 0% 0%;
    }
}

@keyframes rubberBand {
    from {
        @include transform(scale3d(1, 1, 1));
    }

    30% {
        @include transform(scale3d(1.25, 0.75, 1));
    }

    40% {
        @include transform(scale3d(0.75, 1.25, 1));
    }

    50% {
        @include transform(scale3d(1.15, 0.85, 1));
    }

    65% {
        @include transform(scale3d(0.95, 1.05, 1));
    }

    75% {
        @include transform(scale3d(1.05, 0.95, 1));
    }

    to {
        @include transform(scale3d(1, 1, 1));
    }
}
