@use 'use' as *;

p {
    code {
        background-color: lighten($background, 5%);
        font-family: 'Fira Code', monospace;
        font-size: 95%;
        padding: 0.2rem 0.4rem;
        border-radius: 0.4rem;
    }
}

pre {
    font-family: Fira Code, monospace;
    color: $text;
    background-color: lighten($background, 10%);
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    padding-left: 1rem;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.3rem $background, 0 0 0 0.35rem $accent;
    }

    code {
        display: block;
        font-size: 1.25rem;
        overflow-x: auto;
        counter-reset: codeline;

        & > span {
            &:before {
                content: counter(codeline);
                display: inline-block;
                min-width: 20px;
                color: $light_alt;
                border-right: 1px solid $background;
                text-align: right;
                margin-right: 1.5rem;
                padding: 0 1rem;
                padding-left: 0.5rem;
                counter-increment: codeline;
            }
        }

        .token {
            &.function-variable,
            &.keyword {
                font-weight: 600;
            }

            &.function:not(.function-variable),
            &.operator {
                color: $accent_alt;
            }

            &.function-variable {
                color: $light_alt;
            }

            &.keyword,
            &.boolean {
                color: $accent;
            }

            &.string {
                font-style: italic;
            }

            &.comment {
                font-size: 90%;
                font-style: italic;
                color: $light_alt;
            }
        }
    }
}
