@use 'use' as *;

.wrapper {
    &.term {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;

        @include tablet_landscape {
            width: 85%;
        }

        img {
            grid-area: terminal;
            max-width: 100%;
            height: auto;

            @include tablet_landscape {
                max-width: 60%;
            }
        }
    }

    &.intro {
        text-align: left;
        margin: 4rem auto;

        h1 {
            font-size: 1.25rem;

            big {
                font-size: 1.75rem;
            }

            span {
                &:first-of-type {
                    @include gradient(1);
                }
                &:nth-of-type(2) {
                    @include gradient(2);
                }
            }
        }
    }

    &.blog_feed {
        margin-top: 1rem;
        text-align: center;

        h2 {
            margin-bottom: 2.5rem;
        }

        article {
            text-align: left;
        }

        .button {
            margin: 2rem 0;
            margin-top: 3rem;
        }
    }
}
