@use 'use' as *;

.wrapper {
    &.term {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;

        @include tablet_landscape {
            width: 85%;
        }

        img {
            grid-area: terminal;
            max-width: 100%;
            height: auto;

            @include tablet_landscape {
                max-width: 60%;
            }
        }
    }

    &.blog_feed {
        margin-top: 1rem;
        text-align: center;

        h2 {
            margin-bottom: 2.5rem;
        }

        article {
            text-align: left;
        }

        .button {
            margin: 2rem 0;
        }
    }
}

footer {
    .social {
        i {
            font-size: 1.5rem;
            margin: 0.5rem;
            margin-bottom: 0;
            transition: color 0.3s ease;
        }
    }
}
