@use 'use' as *;

body.fourofour {
    section {
        .hero {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100px;
                height: auto;
                margin-right: 1rem;
                filter: invert(1);
            }

            h2 {
                font-size: 8rem;
                margin: 0;
            }
        }

        p.suggestion {
            flex-basis: 100%;
            font-size: 1.25rem;
            text-align: center;

            a.animated {
                font-weight: 600;
                color: $light;
            }
        }
    }
}
