@use 'use' as *;
@use 'base' as base;

body.post {
    main.blog__post {
        height: 100%;

        @include phone {
            margin-top: -1.5rem;
            margin-bottom: 0;
            padding: 0;
        }

        article.post {
            background-color: lighten($background, 5%);
            padding: 2rem 1.5rem;

            @include tablet_landscape {
                border-radius: 0.4rem;
                padding: 2rem 3rem;
            }

            .post__title {
                font-size: 2em;
                margin: 0;
            }

            .post__reading_time {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                align-self: flex-end;
                min-width: 20%;
                margin: 1rem 0;

                @include tablet_landscape {
                    align-self: flex-start;
                }

                p {
                    font-family: 'Fira Code', monospace;
                    font-size: 90%;
                }
            }

            .post__content {
                h2,
                h3,
                h4 {
                    position: relative;
                    text-align: left;

                    &::before {
                        content: '';
                        display: inline-block;
                        font-family: 'Fira Code', monospace;
                        margin-right: 0.5rem;
                        color: $light;
                        @include transform(scale(0.8));
                    }
                }

                h2 {
                    &::before {
                        content: '#';
                    }
                }

                h3 {
                    &::before {
                        content: '$';
                    }
                }

                h4 {
                    &::before {
                        content: '=>';
                    }
                }

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                    margin: 0 auto;
                }

                figure {
                    display: flex;
                    flex-direction: column;

                    figcaption {
                        font-size: 90%;
                        text-align: right;
                        margin: 0.5rem auto;
                    }
                }

                a {
                    font-weight: 600;
                    @extend .animated;
                    color: $light;

                    @include desktop {
                        transition: transform 0.3s ease;

                        &:hover,
                        &:focus {
                            position: relative;
                            top: -0.1rem;
                        }
                    }
                }
            }

            .post__tags {
                display: flex;
                flex-direction: revert;
                flex-wrap: wrap;
                gap: 0.5rem;
            }
        }
    }

    .wrapper.footer {
        @include phone {
            margin-top: 0;
        }
    }
}
