@use 'use' as *;

progress#reading-progress {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &[value='0'] {
        display: none;
    }

    &::-moz-progress-bar {
        background-color: $background;
    }

    &::-webkit-progress-bar {
        background-color: $background;
    }

    &::-webkit-progress-value {
        background-color: $accent;
    }
}
