body.tags {
    h1 {
        font-family: 'Fira Code', monospace;
        text-align: center;
    }
    section {
        .articles {
            .post {
                padding-top: 1.5rem;
            }
        }
    }
}
