@use 'use' as *;

.twitter_feed {
    @include desktop {
        max-width: 65%;
    }

    @include widescreen {
        max-width: 50%;
    }

    h2 {
        margin-top: 3rem;
    }

    .tweets {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
        align-items: stretch;
        justify-content: center;

        .tweet {
            flex: 1 1 37.5ch;
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: auto auto 1fr;
            grid-template-areas:
                'image name date'
                'tweet tweet tweet';
            column-gap: 1rem;
            row-gap: 1rem;
            background: linear-gradient(
                to bottom right,
                lighten($background, 10%) 45%,
                lighten($background, 5%)
            );
            border-radius: 0.4rem;
            padding: 1rem;
            padding-bottom: 1.5rem;

            &:hover {
                color: inherit;
            }

            p {
                margin: 0;
            }

            .user {
                display: flex;

                &__img {
                    grid-area: image;
                    border: 1px solid lighten($background, 10%);
                    border-radius: 50%;
                    align-self: center;
                    filter: grayscale(1);
                }
                &__name {
                    grid-area: name;
                    align-self: center;
                    height: fit-content;
                    font-family: 'Fira Code', monospace;
                    background-color: $background;
                    padding: 0.2rem 0.8rem;
                    border-radius: 0.8rem;
                }
                &__tweet {
                    grid-area: tweet;
                    align-self: center;
                }
                &__tweet_date {
                    grid-area: date;
                    align-self: center;
                    font-size: 80%;
                    font-weight: 600;
                    text-align: right;
                    color: $light;
                }
            }

            i.icon-retweet {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;
                font-size: 1.5rem;
                opacity: 0.3;
                @include gradient(2);
            }
        }
    }
}
